Screen {
    layout: vertical;
}

PackageList {
    width: 100%;
    height: 50%;
}

PackageList > .selection-list--button-selected {
    color: red;
    text-style: bold;
}

PackageList > .option-list--option-disabled {
    color: gray;
}

PackageInfo {
    width: 100%;
    height: 45%;
    border: cornflowerblue;
}

RunExitButton {
    text-align: center;
    width: 100%;
    height: 5%;
    border: heavy slategray;
}