Screen {
    layout: horizontal;
}

PackageList {
    width: 50%;
    height: 100%;
}

PackageList > .selection-list--button-selected {
    color: red;
    text-style: bold;
}

PackageList > .option-list--option-disabled {
    color: gray;
}

PackageInfo {
    width: 50%;
    height: 100%;
    border: cornflowerblue;
}